body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.fast-sec{
    display: flex;
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
.secend-sec{
    display: flex;
    background-repeat: no-repeat;
    margin-bottom: 150px;
    background-image: url(images/7.png);
    background-position: center;
}
.half{
    width: 80%;
    margin: 0%;
}.font{
    width: 60%;
    margin: 5%;
}
.second-half{
    width: 58%;
    margin-left: 30%;
}
.fast-font{
    width: 60%;
    margin: 5%;
}
.secend-font{
    width: 60%;
    margin: 6%;
}
.href-button{
    text-decoration: none;
    background-image:linear-gradient(orange,#ee1414 );
    padding: 8px 10px;
    border-radius: 8%;
    font-weight: 700;
    color: white;
}
h1{
    font-size: 40px;
}
.color{
    color: orange;
}
.second-color{
    color: lightgreen;
}
.recipi{
    text-align: center;
}
.parents{
    display: flex;
    width: 50%;
    margin-left:10%;
}
.half-width{
    width: 50%;
    margin-right:2%;
    margin-left: 2%;
    margin-bottom: 20%;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 10px 10px 40px grey;
}
.foot{
    text-align: center;
    color: white;
    background-color: #090808;
    padding-bottom:3%;
    padding-top: 8px;
}
.ex-color{
    color: grey;
}